@page "/login"
@layout LoginLayout
@inherits UserContext

<div class="row">
    <div class="col-lg-4 offset-lg-4 pt-4 pb-4 border">
        <div class="mb-3 text-center">
            <h3>Login</h3>
        </div>
        <div class="mb-3">
            <label>Username</label>
            <input @bind="_model.UserName" class="form-control" placeholder="Username" />
        </div>
        <div class="mb-3">
            <label>Password</label>
            <input @bind="_model.Password" type="password" class="form-control" placeholder="Password" />
        </div>
        <div class="mb-3 d-grid gap-2">
            <button @onclick="Authenticate" class="btn btn-primary">Login</button>
        </div>
    </div>
</div>

@code {
    private class Model
    {
        public string UserName { get; set; }
        public string Password { get; set; }
    }
    [SupplyParameterFromQuery(Name = "ReturnUrl")]
    public string ReturnUrlPath { get; set; } = "";
    private readonly Model _model = new();
    public void AutoNavigate()
    {
        NavTo(string.IsNullOrEmpty(ReturnUrlPath) ? "/" : ReturnUrlPath);
    }
    private async Task Authenticate()
    {
        if (await Login(_model.UserName, _model.Password))
        {
            AutoNavigate();
        }
    }
}