@inherits UserContext

<AuthorizeView>
    <Authorized>
        <div>
            <b>@User.UserName</b> | <a @onclick="OnClickLogout">Logout</a>
        </div>
    </Authorized>
</AuthorizeView>

@code {

    async Task OnClickLogout()

    {
        await Logout();

        NavTo("/login");

    }
}